textarea {
    min-height: 400px;
}
#emails-ul{
    list-style: none;
    gap: 10px;
}
.emails-ul-li button{
    background-color: rgb(243, 246, 248);margin-bottom: 1%;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.first-span{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: 0;

}
.second-span {
    margin: 0;
    justify-content: right;
}
p{
    margin: 0;
}
.email-ul{
    list-style: none;
}
#email-div{
    display: flex;
}